<form id="map_form">
  <input type="text" name="lat" id="lat" />
  <input type="text" name="long" id="long" />
  <button>Send</button>
</form>

<hr>

<%#= form_for("something", :html_options => {:id => "map_form_2"}) do |f| %>
  <%#= f.text_field :lat %>
  <%#= f.text_field :long %>

  <%#= f.submit "Send" %>
<%# end %>